version: 2.1

orbs:
  node: circleci/node@5.2
  aws-cli: circleci/aws-cli@4.1.1

jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run tests
          command: npm test

  deploy:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - aws-cli/install
      - run:
          name: Build project
          command: npm run build
      - run:
          name: Create Sentry release & upload sourcemaps
          command: |
            export RELEASE=$(git rev-parse --short HEAD)
            export VITE_SENTRY_RELEASE=$RELEASE
            npx @sentry/cli releases new "$RELEASE"
            npx @sentry/cli releases files "$RELEASE" upload-sourcemaps ./dist --ext map --ext js --rewrite --url-prefix "~/"
            npx @sentry/cli releases finalize "$RELEASE"
      - run:
          name: Deploy to S3
          command: |
            aws s3 sync ./dist s3://todobucket33/ --delete

workflows:
  test_and_deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: production
